﻿<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Mas Global Employee App</title>

    <!-- Style sheets -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/angular-busy.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />

    <!-- Library Scripts -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-busy.js"></script>


    <!-- Application Script -->
    <script src="~/App/app.js"></script>
    <script src="~/App/Common/common.services.js"></script>
    <script src="~/App/Common/employeeResource.js"></script>
    <script src="~/App/Test/employeeCtrl.js"></script>




</head>

<body ng-app="MasGlobalApp">

    @RenderBody()

</body>

</html>