﻿


<div class="main">


    <div class="logo">
        <img src="../Images/logo-big.png" alt="logo" class="logo-main" />
    </div>

    <div class="content" data-cg-busy="vm.myPromise">

        <form novalidate>
            <h3 class="form-title">Employee Manager</h3>
            <div ng-show="vm.message" class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> {{vm.message}} </span>
            </div>
            <div class="row">

            <div class="form-group col-md-9">

                <div class="input-group">
                    <div class="input-group-addon">
                        <i class=" glyphicon glyphicon-user"></i>
                    </div>
                    <input class="form-control placeholder-no-fix"
                           type="number" max="999"
                           ng-model="vm.employee.id"
                           autocomplete="off"
                           placeholder="Please enter the employee id or leave it blank if you want to query all the employees"
                           name="employeeId"
                           id="employeeId" />
                </div>
            </div>

            <div cclass="btn-group" col-md-3">
                <button type="submit" class="btn btn-primary" ng-click="vm.Search()">Search</button>
                <button type="button" class="btn btn-primary" ng-click="vm.Clear()">Clear</button>
            </div>
            </div>

        </form>

        <div class="panel panel-primary">
            <div class="panel-heading" style="font-size: large">
                Employee List
            </div>

            <div class="panel-body">
                <table class="table">

                    <thead>
                        <tr>
                            <td>Employee Id</td>
                            <td>Name</td>
                            <td>Contract Type</td>                   
                            <td>Role name</td>
                            <td>Role description</td>
                            <td>Hourly Salary</td>
                            <td>Monthly Salary</td>
                            <td>Anual Salary</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="employee in vm.employees">
                            <td>{{ employee.id}}</td>
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.contractTypeName }}</td>                            
                            <td>{{ employee.roleName }}</td>
                            <td>{{ employee.roleDescription }}</td>
                            <td>{{ employee.hourlySalary | currency}}</td>
                            <td>{{ employee.monthlySalary | currency}}</td>
                            <td>{{ employee.annualSalary | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>



    
    <footer class="footer">
        <div class="footerContainer">
            <p class="copyright">2018 © Mas Global Test App</p>
        </div>
    </footer>

</div>


