body {
   background-color: #FFF;
}

form {
    /*background-color: #A4C8E8;*/
    border-radius: 2px;
    /*box-shadow: 0 1px 1px #ccc;*/
    color: #404040;
    font-size: 16px;
    padding: 30px 20px;
}
form legend {
    color: #404040;
    font-size: 42px;
    font-family: 'Cookie', cursive;
    font-weight: normal;
    line-height: 1;
    text-shadow: 0 3px 0 rgba(0,0,0,0.1);
}

.logo-main {
     width: 150px;
}

.main body{
    background-color: #a0b4c9!important;
}

.main .content {
    background-color: #fff;
    width: 900px;
    margin: 0 auto;
    padding: 20px 30px 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
}

.main .content .main-form {
    padding: 0;
    margin: 0;
}

.main .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.main .logo {
    margin: 20px auto 0px;
    padding: 15px;
    text-align: center;
}



footer {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #fff;
}

p.copyright {
    position: absolute;
    width: 100%;    
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom: 0;
}